{% load i18n %}
{% load get_relation_value get_event_status get_unit_total_points from ndf_tags %}

{% get_event_status node as get_status %}
{% if group_counts %}
{% get_unit_total_points request.user.id  node.pk as get_unit_points %}
{% endif %}

<style type="text/css">

</style>
<div class="unit_card-{{node.pk}}" style="position: relative; height:305px;">
    {% if not no_url and not prevent_click %}
        {% if first_arg and second_arg and third_arg %}
            <a href="{% url url_name first_arg second_arg third_arg %}{{search_url_text|safe}}">
        {% elif first_arg and second_arg %}
            <a href="{% url url_name first_arg second_arg %}{{search_url_text|safe}}">
        {% elif first_arg %}
            <a href='{% url url_name first_arg %}{{search_url_text|safe}}'>
        {% endif %}
    {% endif %}

    <div class="unit_header" >
        {% if "announced_unit" in node.member_of_names_list %}
            {% get_relation_value node.pk 'has_banner_pic' as grel_dict %}
            {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.mid.relurl %}
                <img class="unit_banner" src="{{MEDIA_URL}}{{grel_dict.grel_node.if_file.mid.relurl}}" alt=""  />
            {% else %}
                <img class="unit_banner" src="/static/ndf/images/course_backbround-2.png" />
            {% endif %}
        {% elif "Group" in node.member_of_names_list %}
            {% get_relation_value node.pk 'has_profile_pic' as grel_dict %}
            {% get_relation_value node.pk 'has_banner_pic' as grel_banner_dict %}
            {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.mid.relurl %}
                <img src="{{MEDIA_URL}}{{grel_dict.grel_node.if_file.mid.relurl}}" alt="" class="unit_banner" />
            {% elif  grel_banner_dict.grel_node.if_file.mid.relurl %}
                <img src="{{MEDIA_URL}}{{grel_banner_dict.grel_node.if_file.mid.relurl}}" alt="" class="unit_banner" />
            {% else %}
                <img class="unit_banner" src="/static/ndf/images/course_backbround-2.png" />
            
            {% endif %}
        {% else %}
            <img class="unit_banner" src="/static/ndf/images/course_backbround-2.png" />
        {% endif %}
    </div>
    <div class="unit-title-container">
        {% if node.altnames %}
        <div class="unit_title" title="{{node.altnames}}">{{node.altnames|truncatechars:45}}</div>
        {% else %}
        <div class="unit_title" title="{{node.name}}">{{node.name|truncatechars:45}}</div>
        {% endif %}
        </div>

    <div class="unit_actions">
        {% if group_counts %} 
        <div class="row">
            <div class="small-8 columns" style="font-size:15px; padding: 0px;">
                Points :<a class="unit-card-analytics-points">  {{get_unit_points}} </a>
            </div>
            <div class="small-4 columns">
                <a href="#" class="view-progress-report unit-card-analytics right" onclick="show_my_performance($(this))" data-node-id = "{{node.pk}}" >View </a>
            </div>
        </div>
        {% else %} 
        <div class="row">
            <div class="small-6 columns" style="padding: 0px;">
                <i style="font-size:15px; color: black" class="fi-list-thumbnails"></i> 
                <div style="font-size:15px; color: black" class="inner" value="{{node.collection_set|length}}">{{node.collection_set|length}} Lesson{{node.collection_set|pluralize}}</div>

                <br/>

                <i style="font-size:15px; color: black" class="fi-torsos"></i>
                <div style="font-size:15px; color: black" class="inner" value="{{node.author_set|length}}">{{node.author_set|length}} Student{{node.author_set|pluralize}}</div>

            </div>
            <div class="small-6 columns" style="padding: 0px;">
                {% if not no_enroll and not is_gstaff %}
                    {% if request.user.is_authenticated %}
                        {% include 'ndf/widget_enroll.html' %}
                    {% endif %}
                {% endif %}
            </div> 
        </div>
        {% endif %}
    </div>
    </a>
    </div>
