{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load cache %}


{# lms_dashboard.html lms My Desk screen #}
{% block title %} My Desk {% endblock%}
{% block head %}
  <script src="/static/ndf/js/meta_info.js"></script>
{% endblock %}

{% block body_content %}
{% load ndf_tags %}
{% get_gstudio_workspace_instance as is_workspace_instance %}

<div class="mydesk_page">

  <div class="page_banner">
    <div class="banner_overlay"></div>
    <div class="banner_profile">
      <div class="buddy_logo">
        {% get_profile_pic request.user.pk as prof_pic %}
        {% if prof_pic %}
        <img src="{{MEDIA_URL}}{{prof_pic.if_file.original.relurl}}" >
        {% else %}
        <img style="background-color:rgba(0, 0, 0, 0.34);" src="/static/ndf/bower_components/foundation-icon-fonts/svgs/fi-torso.svg" >
        {% endif %}
      </div>
      <div class="banner_heading">
        <span class="buddy_name uname-in-dashboard inner">{{user.username}}</span> <a class="user-profile-edit inner" style="z-index: 99; position: relative;"> <i class="fa fa-pencil"></i> {% trans "Edit Profile" %}</a>
        <div class="profile-detail-widget-container">
          {% if auth_profile_exists %}
          {% include "ndf/widget_user_profile.html" with auth_attr=auth_attr %}
          {% endif  %}
        </div>
      </div>
    </div>
  </div>
  <div id="profile_updateModal" class="reveal-modal medium success radius" data-reveal data-alert>
      <div id="profile_updateModalLabel">{% trans "Profile updated successfully" %}</div>
      <a class="close-reveal-modal">&#215;</a>
  </div>

  <form method="post" class="profile-form hide">
  {% csrf_token %}
    
  <div>
    <h3 class="uname-in-profile-form" >{{user.username}} Profile: </h3>
    <div class="row">
      <div class="small-6 medium-6 columns">
        <div class="row">
          
          <div class="small-4 columns">
            <label for="right-label" class="profile-field">{% trans "First Name" %}</label>
          </div>

          <div class="small-8 columns">
            <input type="text" name="first_name" class="input_only_text" id="first_name" value="{{auth_attr.first_name}}">
          </div>

        </div>
      </div>
      <div class="small-6 medium-6 columns">
        <div class="row">
          
          <div class="small-4 columns">
            <label for="right-label" class="profile-field">{% trans "Last Name" %}</label>
          </div>

          <div class="small-8 columns">
            <input type="text" name="last_name" class="input_only_text" id="last_name" value="{{auth_attr.last_name}}">
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-6 medium-6 columns">
        <div class="row">
          
          <div class="small-4 columns">
            <label for="right-label" class="profile-field">{% trans "Roll No." %}</label>
          </div>

          <div class="small-8 columns">
            <input type="text" name="enrollment_code" class="input_only_num" id="enrollment_code" value="{{auth_attr.enrollment_code}}">
          </div>

        </div>
      </div>
      <div class="small-6 medium-6 columns">
        <div class="row">
          
          <div class="small-4 columns">
            <label for="right-label" class="profile-field">{% trans "Grade" %}</label>
          </div>

          <div class="small-8 columns">
            {% get_metadata_values "educationallevel" as metadata_educationallevel %}
             <select name="educationallevel">
                <option selected>{% trans "Choose Class / Grade" %}</option>
                {% for opts in metadata_educationallevel %}
                    <option {% if auth_attr.educationallevel == opts %} selected {% endif %}>{{opts}}</option>
                {% endfor %}
            </select>
          </div>

        </div>
      </div>

    </div>
    <div class="row">
        <div class="small-4 columns end">
          <label for="right-label" class="profile-field">{% trans "School Name" %}</label>
        </div>

        <div class="small-8 columns large_text_input">
          <input type="text" name="organization_name" id="organization_name" value="{{auth_attr.organization_name}}">
        </div>
    </div>
    <div class="row save-profile-actions">
        <input type="submit" class="button-save-new submit-user-profile" value="Save"/>
        <input type="button" class="button-cancel-profile" onclick="hide_profile_form()" value={% trans "Cancel" %} />
    </div>
  </div>
  </form>

  <div class="page_menu">
    <ul class="nav_menu_1">
      <li>

        {% if site.SITE_NAME == "NROER" %}
          <a href="{% url 'my_desk' request.user.id  %}" {% if title == "my desk" %} class="selected" {% endif %}><i class="fi-book-bookmark" style="font-size:20px;"></i> {% trans "My Workspaces" %}</a>

        {% else %}
          <a href="{% url 'my_desk' request.user.id  %}" {% if title == "my desk" %} class="selected" {% endif %}>  <i class="fi-book-bookmark" style="font-size:20px;"></i> {% trans "My Courses" %} </a>
        {% endif %}
      </li>


     {# <li class=""><a {% if title == "my workspace" %} class="selected" {% endif %} href="{% url 'course_about' request.user.username  %}">{% trans "My WorkSpace" %}</a> </li> #} 
      <li class=""><a {% if title == "my performance" %} class="selected" {% endif %} href="{% url 'my_performance' request.user.id  %}"> <i class="fa fa-line-chart" aria-hidden="true"></i> {% trans "My Progress" %}</a> </li>

    </ul>
  </div>


  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" >
    {% comment %}

    {% for each_obj in modules_cur %}
    <li class="card-image-wrapper">
      {% include "ndf/horizontal_card.html" with node=each_obj url_name="module_detail" first_arg=group_id second_arg=each_obj.pk %}
    </li>
    {% empty %}
    No modules found!
    {% endfor %}
  </ul>

    {% endcomment %}
    </br>

  {% if title == "my desk" %}
  <div class="small-12 columns group_sections_content">
    {% get_agency_type_of_group node.pk as agency_type %}
    {% if agency_type != "Student" %}
      <div class="row" style="margin-left: 10px !important ">
        <h3> My Workspace</h3>
      </div>
      <div class="small-12 columns lms_explore_back_unit">
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
          <li class="card-image-wrapper">
            {% include "ndf/card_group.html" with node=node url_name="course_content" first_arg=node.pk no_enroll=True  %}
          </li>
        </ul>
      </div>
      <hr/>
    {% endif %}

    <div class="row" style="margin-left: 10px !important ">
      <h3 >Enrolled Courses</h3>
    </div>
    <div class="small-12 columns lms_explore_back_unit">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        {% for each_obj in units_cur %}
          <li class="card-image-wrapper">
            {% include "ndf/card_group.html" with node=each_obj url_name="course_content" first_arg=each_obj.name no_enroll=True %}
          </li>
        {% empty %}
        <section class="empty-dashboard-message">
          <p>You are not enrolled in any course!</p>
          <a class="button-explore-courses" href="{% url 'explore_courses' %}"> <i class="fa fa-binoculars" aria-hidden="true"></i>  Explore</a>
        </section>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}  

{% if title == "my performance" %}
  <div class="small-12 columns group_sections_content">

    <div class="small-12 columns lms_explore_back_unit">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        {% for each_obj in units_cur %}
        <li class="card-image-wrapper">
          {% include "ndf/card_group.html" with group_counts=True node=each_obj no_url=True first_arg=each_obj.pk  %}
        </li>
        {% empty %}
        <section class="empty-dashboard-message">
          <p>You are not enrolled in any course!</p>
            <a class="button-explore-courses" href="{% url 'explore_courses' %}">Explore</a>
        </section>
        {% endfor %}
      </ul>
    </div>
    </div>

    <div id="performaceReportModal" class="reveal-modal reveal-modal-overlay" data-options="close_on_background_click:false;close_on_esc:false;"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <label id="performaceReportModalLabel"></label>
      <div class="performaceReportModalData"></div>
      <a class="close-reveal-modal" aria-label="Close" style="font-size: inherit">Close [&#215;]</a>
    </div>


  <script type="text/javascript">

    function show_my_performance(this_obj){
      data_unit_id  = $(this_obj).attr("data-node-id");
      $.ajax({
        url: "{% url 'course_analytics' group_id request.user.id %}",
        type: "GET",
        dataType: "html",
        data: {
          "data_unit_id":data_unit_id
        },
        success: function(data){
          $('.performaceReportModalData').html(data);
          $('#performaceReportModal').foundation('reveal', 'open');
        },
      });
    }

  </script>
{% endif %}
</ul>
</div>

<script type="text/javascript">
    $(document).on('click','.user-profile-edit', function(){
        $(".profile-form").removeClass("hide")
        $('.user-profile-edit').addClass("hide")
        $('#first_name').focus();
    })

    function hide_profile_form(){
      $('.user-profile-edit').removeClass("hide")
      $(".profile-form").addClass("hide")
    }

    $(document).on('submit','.profile-form', function(event){
      $.ajax({
             type: "POST",
             url: "{% url 'save_user_profile' request.user.pk %}",
             data: $(this).serialize(),
             success: function(data)
             {
                hide_profile_form()
                $(".profile-detail-widget-container").html(data)
                $("#profile_updateModal").foundation('reveal', 'open');
             }
           });

      event.preventDefault();

    })

    // Ensure that it is a number and stop the keypress while entering hours for course subsection prop
    $(".input_only_num").keydown(function (e) {
          // Allow ctrl+A
      if ((e.keyCode == 65 && e.ctrlKey === true) ||
               // Allow: home, end, left, right, down, up and //Allow delete, backspace, tab
              (e.keyCode >= 35 && e.keyCode <= 40) || e.keyCode==46 || e.keyCode==8 || e.keyCode==9) {
                   // let it happen, don't do anything
                   return;
          }
     // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
    });

    // Ensure that it is a alphabet and stop the keypress while entering hours for course subsection prop
    $(".input_only_text").keydown(function (e) {
      if ((e.keyCode > 64 && e.keyCode < 91) || (e.keyCode == 65 && e.ctrlKey === true) ||
               // Allow: home, end, left, right, down, up and //Allow delete, backspace, tab
              (e.keyCode >= 35 && e.keyCode <= 40) || e.keyCode==46 || e.keyCode==8 || e.keyCode==9){
        return true;
      }
      else{
        return false;
      }
    });

</script>
{% endblock  %}
